<div class="m-5 card-custom">
  <div class="p-10">
    <div class="flex justify-between">
      <div class="flex">
        <span>Posted by: &nbsp </span>
        <div class="text-base font-bold">
          {{user.username}}
        </div>
      </div>
      <div class="flex">
        <span>On: &nbsp</span>
        <span class="text-base font-bold">{{format_date date}}</span>
      </div>
    </div>
    <h2 class="post-title">
      <a href="/post/{{id}}">
        <div>{{title}}</div>
      </a>
    </h2>
    <p class="my-10">
      {{content}}
    </p>
    <div>
      <a href="dashboard/edit/{{id}}" class="edit-button">Edit</a>
    </div>
  </div>
</div>