<div>
  <div>
    <h2>
      <a href="/post/{{id}}">
        <div>{{title}}</div>
      </a>
    </h2>
    <div>posted by
      {{user.username}}
      on
      {{format_date date}}
    </div>
  </div>
  <p>
    {{content}}
  </p>
</div>