<div class="m-5 card-custom">
  <div class="">
    <div class="flex">
      <span>Posted by: &nbsp </span>
      <div class="text-base font-bold">
        {{user.username}}
      </div>
    </div>
    <div>
      <span>On: &nbsp</span>
      <span class="text-base font-bold">{{format_date date}}</span>
    </div>
    <h2>
      <a href="/post/{{id}}">
        <div>{{title}}</div>
      </a>
    </h2>
    <div>posted by
      {{user.username}}
      on
      {{format_date date}}
    </div>
  </div>
  <p>
    {{content}}
  </p>
</div>